doctype html
html
	head
		meta(charset='UTF-8')
		link(type='stylesheet', href='ex.css')
	body
		.contents
			article#chatting
				div(id='talk-window')
				br
				input(type='text',id='text',onkeypress="enterKey(event);", placeholder='Please enter the message.')
				input(type='button',id='send',onclick="enterKey(13);",value='Send')
				script(src='/js/chat.js')
